"*":
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "image-view"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontSize: 15
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "126af0bd-e348-4a34-aa29-9f2622f19370"
  "markdown-preview":
    useGitHubStyle: true
  nuclide:
    "nuclide-flow":
      warnOnNotInstalled: false
  "spell-check":
    locales: [
      "en-US"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
